# Core Agent Framework
crewai[google-genai]
streamlit
# Connection to Google Gemini
langchain-google-genai

# Tool to manage environment variables (secrets)
python-dotenv
# Use pip install -r requirements.txt to install